.App {
  text-align: center;
  background-image: url("https://www.usnews.com/cmsmedia/a1/7c/61548aea4db9ab9045673bb5187f/160919-studentscollege-stock.jpg");
  background-size: 1000px;
}

.homeHeading {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 35px;

}

#students-link{
  color: black ;
  font-family: 'Times New Roman', Times, serif;

  font-size: larger;
}
#campuses-link{
  color: black ;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;

}
#home-link{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

#studentHeading{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

#campusHeading{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;

}
.nav-container {
  padding: 0 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.nav-item-left {
  margin-right: auto;
}

.nav-item-right {
  margin-left: 10px;
}
.title {
  font-size: 75px;
  margin-bottom: -55px;
  margin-left: -1250px;
}

#student {
  border: 3px solid;
  width: 98%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center; 
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px; 
}

#studentImage {
  margin-right: 10px; 
  width: 200px;
  height: 200px;
}
#campus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#campus {
  border: 3px solid;
  width: 45%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#campus-name{
  font-size: 40px;
  float: left;
  margin-left: 10px;
  margin-top: -5px;
}

#campus-students{
  font-size: 35px;
  float:left;
  margin-left: 10px;
  margin-top: -20px;
}

.button-add {
  margin-left: 1450px;
  margin-top: -20px;
  margin-bottom: 10px;
  background: #00BD68;
  border: 1px solid #00BD68;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 16px;
  min-height: 75px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.button-delete {
  float: right;
  position: relative;
  bottom: -55%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.button-edit {
  float: left;
  position: relative;
  bottom: -55%;
  background: #fff000;
  border: 1px solid #fff000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: gray;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin-left: -175px;
  text-align: center;
}


#campusImage {
  width: 250px;
  height: 250px;
  float: left;
}

.single-campus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campus-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#singleStudent {
  border: 3px solid;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#singleStudentImage {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  margin-left: 0;
}

.studentCampus {
  border: 3px solid;
  width: 60%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#studentCampusImage {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

#student div {
  font-size: 15px;
  white-space: pre-line;
}

#campus div {
  font-size: 15px;
  white-space: pre-line;

}

.single-campus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.campus {
  border: 3px solid;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.campus-image {
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.campus-description {
  margin-bottom: 10px;
}

.campus-address {
  margin-bottom: 10px;
}

.students-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student {
  border: 3px solid;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.student-image {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.student-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.student-email {
  font-size: 12px;
}