.App {
  text-align: center;
}

.homeHeading {
  color: rgb(0, 0, 0);
  background-image: url("https://www.usnews.com/cmsmedia/a1/7c/61548aea4db9ab9045673bb5187f/160919-studentscollege-stock.jpg");
  font-family: 'Times New Roman', Times, serif;
  padding: 100px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  background-size: cover;
}

#students-link,
#campuses-link,
#home-link {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bolder;
}

.nav-container {
  padding: 0 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.nav-item-left {
  margin-right: auto;
}

.nav-item-right {
  margin-left: 10px;
}

.title {
  font-size: 75px;
  margin-bottom: -55px;
  text-align: center;
}

#student-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

#student {
  border: 3px solid;
  width: calc(20% - 20px);
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#studentImage {
  width: 250px;
  height: 250px;
  float: center;
}

#student-name {
  margin-top: -5px;
  font-size: 30px;
}

#student-campus {
  margin-top: -20px;
  font-size: 20px;
}

#campus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

#campus {
  border: 3px solid;
  width: 850px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#campus-name {
  font-size: 40px;
  margin-top: -5px;
}

#campus-students {
  font-size: 35px;
  margin-top: -20px;
}

#campusImage {
  width: 250px;
  height: 250px;
  float: left;
}

.button-add {
  margin: 100px 0;
  background: #00BD68;
  border: 1px solid #00BD68;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'nunito', 'roboto', 'proxima-nova', 'proxima nova', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 16px;
  min-height: 75px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.button-delete {
  margin-left: 100px;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'nunito', 'roboto', 'proxima-nova', 'proxima nova', sans-serif;
  font-size: 1rem; 
  font-weight: 800;
  line-height: 1rem; 
  min-height: 2.5rem; 
  outline: 0;
  padding: 0.75rem 0.875rem; 
  text-align: center;
}

.student-button-delete {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'nunito', 'roboto', 'proxima-nova', 'proxima nova', sans-serif;
  font-size: 1rem; 
  font-weight: 800;
  line-height: 1rem; 
  min-height: 2.5rem; 
  outline: 0;
  padding: 0.75rem 0.875rem; 
  text-align: center;
}

.button-edit { 
  position: absolute;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'nunito', 'roboto', 'proxima-nova', 'proxima nova', sans-serif;
  font-size: 1rem; 
  font-weight: 800;
  line-height: 1rem; 
  min-height: 2.5rem; 
  outline: 0;
  padding: 0.75rem 0.875rem; 
  text-align: center;
  background: #fff000;
  border: 1px solid #fff000;
  color: gray;
}

.single-campus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campus-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#singleStudent {
  border: 3px solid;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#singleStudentImage {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  margin-left: 0;
}

.studentCampus {
  border: 3px solid;
  width: 60%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#studentCampusImage {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

#student div {
  font-size: 15px;
  white-space: pre-line;
}

#campus div {
  font-size: 15px;
  white-space: pre-line;
}

.single-campus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.campus {
  border: 3px solid;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.campus-image {
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.campus-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.campus-info div {
  font-size: 15px;
  white-space: pre-line;
}