.all-campuses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .single-campus-container {
    border: 3px solid;
    width: 460px;
    height: 150px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
  }
  
  .campus-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    word-wrap: break-word;


  }
  
  .campus-name {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: left;

  }
  
  .campus-students {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 20px;
  }
  
  
  .campusImage {
    width: 150px;
    height: 125px;
    border: 3px solid rgb(97, 97, 97);
    position: absolute;
    margin-right: 280px;
    float: left;
    flex-shrink: 0;
  }
  
  .edit-button,
  .delete-button {

    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 800;
    padding: 0.75rem 0.875rem;
    line-height: 1rem;
    min-height: 2.5rem;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    width: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .edit-button {
    background: #00a2ff;
    border: 1px solid #00a2ff;
    margin-left: 165px;
  }
  .delete-button {
    background: #FF4742;
    border: 1px solid #FF4742;
    margin-left: 100px;
  }
  