.edit-button {
  background: #00a2ff;
  border: 1px solid #00a2ff;
  margin-right: 10px;
}
.delete-button {
  background: #ff4742;
  border: 1px solid #ff4742;
  margin-left: 10px;
}

.button-add {
  margin: 100px 0;
  background: #00bd68;
  border: 1px solid #00bd68;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "nunito", "roboto", "proxima-nova", "proxima nova", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
  min-height: 75px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

#singleStudentImage {
  width: 350px;
  height: 280px;
  margin-right: 10px;
  margin-left: 0;
  float: left;
  border: 5px solid rgb(97, 97, 97);
}

#full-name {
  font-size: 50px;
  margin-right: 35px;
  margin-top: 70px;
  margin-left: 35px;
  margin-bottom: 35px;
  font-family: "Lucida Sans";
}

#student-email {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Lucida Sans";
}

#student-GPA {
  margin-bottom: 60px;
  font-size: 30px;
  font-family: "Lucida Sans";
}

#studentCampusImage {
  display: center;
  width: 80%;
  margin-top: 20px;
  border: 3px solid rgb(97, 97, 97);
}

#single-campus-heading {
  display: center;
  margin-top: 100px;
  margin-right: 40px;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#student-campus {
  margin-top: -20px;
  font-size: 20px;
}

#campus {
  display: flex;
  border: 3px solid rgb(97, 97, 97);
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-bottom: 50px;
}

#singleStudent {
  border: 3px solid;
  width: 800px;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.studentCampus {
  border: 3px solid;
  width: 60%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
}
